#menu-container{
    border-right: var(--bb-border-top-style);
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 1px;
    top: 10%;
    bottom: 1%;
    background-color: rgba(59, 104, 104, 0);
    
}


@media screen and (max-width: 750px) {
    #menu-container{
        border-right: hidden ;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: static;
    }

}