.footer-menu{
    /* background-color: #005ca54d; */
    /* height: 50px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    letter-spacing: 0.4px;
}