
.f-d-p-title{


    font-size: 3vw;
    font-weight: 200;
    color: var(--bb-logo-color);
    text-transform: uppercase;
    text-align-last: center;
}

.f-d-p-subtitle{

    font-weight: 370;
    /* margin-bottom: 10px; */
    font-size: 1.3vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align:center;
}

.f-d-p-main-content{
    padding-left: 2vw;
}

.f-d-p-main-content ul{

    border: solid 1px var(--bb-logo-color);
    list-style: none;
}

.f-d-p-main-content h2{
    font-weight: 370;
    font-size: 1.3vw;
    letter-spacing: 3px;
    text-align:left;
    margin-left: 4vw;
}

.f-d-p-footer{
    text-align: center;
}

.footer-derived-page{
    width: 90%;
    padding: 4%;

}

.f-d-p-main-content #general-contact{

    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
    /*margin-top: 10px;
    margin-bottom: 10px;*/

}
.f-d-p-main-content #general-contact span {
    

}