
.t-l-title{
    margin-left: 4vw;
    font-variation-settings: "MONO" 0, "CASL" 0.4, "slnt" -15, "CRSV" 1;
    font-weight: 300;
    font-size: 1.3vw;
    margin-bottom: 4px;
    text-transform: uppercase;
    
}

/* .t-l-subTitle{

} */

.t-l-mainContent{
    margin-left: 3vw;
    font-size: 0.95vw;
    line-height: 20px;
    margin-right: 8%;
    border-top: solid 1px var(--bb-logo-color);
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    /*hyphens: auto;*/
    letter-spacing: 0.02em;
    line-height: 1.4em;
    font-weight: 300;

}

/* .t-l-footer{

} */

.t-l-page{
    margin-bottom: 3vw;
    width: 85%;
    margin-left: 4%;

}

.t-l-mainContent span{
    vertical-align: text-top;
    width: 22em;   
    /*width: 48.5%;*/
    /*margin-left: 0.8%;
    margin-right: 0.8%;*/
}
