
.t-l-title{
    margin-left: 4vw;
    font-variation-settings: "MONO" 0, "CASL" 0.4, "slnt" -15, "CRSV" 1;
    font-weight: 300;
    font-size: 1.3vw;
    margin-bottom: 8px;
    text-transform: uppercase;
}

/* .t-l-subTitle{

} */

.t-l-mainContent{
    margin-left: 3vw;
    font-size: 1vw;
    line-height: 20px;
    margin-right: 8%;
}

/* .t-l-footer{

} */

.t-l-page{
    border-top: solid 1px var(--bb-logo-color);
    margin-bottom: 2vw;
    width: 70%;
    margin-left: 10%;

}