#mobile-menu-container{

    border: solid 1px var(--bb-logo-color);
    background-color: rgb(255, 255, 255);
    position: fixed;
    height: fit-content;
    left: 10%;
    top: 100%;
    width: 80%;
    overflow-y: hidden;
    overflow-x: hidden;
}
