#mobile-menu-container{

    border: solid 1px var(--bb-logo-color);
    background-color: rgb(255, 255, 255);
    margin: 10%;
    position: fixed;
    max-height: 70%;
    bottom: 15%;
    width: 80%;
    overflow-y: hidden;
    overflow-x: hidden;
}
